.counter-container {
    border:1px solid;
    padding-bottom: 1rem ;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: lightgray;
    margin: 0 0 0.5rem 0;
}

.counter-title {
    color:darkblue;

}

.value {
    font-size: x-large;
    font-weight: bold;
    margin: 0 1rem 0 1rem;
}